mixin icon(name,mod)
	- mod = mod || ''
	svg(class="icon icon-" + name + ' ' + mod)
		use(xlink:href="static/img/svg/symbol/sprite.svg#" + name)


mixin item(title,imgUrl,count,p1,p2,p3)
	
	if(count)
		.item.item-dark
			.container
				.item-text
					.item-text__title= title
					p.item-text__description= p1
					p.item-text__description= p2
					p.item-text__description= p3
					.main-button Читать статью
				img(src= imgUrl, alt= title).item__img
	else
		.item
			.container
				.item-text
					.item-text__title= title
					p.item-text__description= p1
					p.item-text__description= p2
					p.item-text__description= p3
					.main-button Читать статью
				img(src= imgUrl, alt= title).item__img